name: deploy-github-pages
on:
  push:
    branches:
      # push to data branch will not trigger this workflow
      - main
    paths:
      # only changes in docs/ will trigger this workflow
      - "docs/**"
jobs:
  deploy-github-pages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v23
      with:
        nix_path: nixpkgs=channel:nixos-24.05
    - run: nix-shell --run "make doc -j"
    - uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./book
        force_orphan: true
